<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title id="title-tag">
        Forgot Passord &mdash; OurJSEditor
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile/login.css' %}">
</head>
<body>
    {% include "ourjseditor/user-info.html" %}

    <div class="inner-wrapper one-col">
        <form id="reset-form" name="reset-form" class="basic-form">
            <h2>Reset Password</h2>

            <i style="color:red" id="error-message"></i>
            Enter your username:
            <input type="text" placeholder="Username" name="username"><br>

            <input class="btn" type="submit" value="Reset Password" name="submit">
        </form>
        <div id="success-message" style="display:none">
            If you entered an email when you signed up, we've sent you a link to reset your password.
            You can close this tab now.
        </div>
    </div>

    <script>
        var resetForm = document.getElementById("reset-form");

        var requestReset = function (evt) {
            evt.preventDefault();

            var req = new XMLHttpRequest();
            req.addEventListener("load", function() {
                if (this.status == 200) {
                    document.getElementById("success-message").style.display = "block";
                    resetForm.username.disabled = true;
                    resetForm.username.disabled = true;
                }else if (this.status == 400) {
                    document.getElementById("error-message").innerText = JSON.parse(this.response).error;
                }else {
                    console.lkog(this);
                    alert("Something went wrong. Check the console for more details.")
                }
            });
            req.open("POST", "/api/user/forgot-password");
            req.setRequestHeader("Content-Type", "application/json");
            req.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            req.send(JSON.stringify({
                username: resetForm.username.value,
                timezone: new Date().getTimezoneOffset(),
            }));
        }

        resetForm.addEventListener("submit", requestReset);
    </script>
</body>
</html>
