<!DOCTYPE html>
<html><head>
    <title>
        Forgot Passord &mdash; OurJSE
    </title>
    <script>
        var requestReset = function () {
            var req = new XMLHttpRequest();
            req.addEventListener("load", function() {
                if (this.status == 200) {
                    document.getElementById("success-message").style.display = "block";
                    document.getElementById("reset-form").style.display = "none";
                }else if (this.status == 400) {
                    document.getElementById("error-message").innerText = JSON.parse(this.response).error;
                }else {
                    console.log(this);
                    alert("Something went wrong. Check the console for more details.")
                }
            });
            req.open("POST", "/api/user/forgot_password");
            req.setRequestHeader("Content-Type", "application/json");
            req.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            req.send(JSON.stringify({
                email: document.getElementById("reset-form").email.value,
                username: document.getElementById("reset-form").username.value,
                timezone: new Date().getTimezoneOffset(),
            }));
        }
    </script>
</head>
<body>
    <form action="javascript:requestReset()" id="reset-form" name="reset-form">
        <i style="color:red" id="error-message"></i>
        Enter your username:
        <input type="text" placeholder="Username" name="username"><br>
        Enter your email:
        <input type="text" placeholder="Email" name="email">

        <input class="btn" type="submit" value="Reset Password">
    </form>
    <div id="success-message" style="display:none">
        We've sent you an email with a link to reset your password. You can close this tab now and open your email.
    </div>
</body>
</html>
