<div style="text-align: center; font-size: 1.25em; padding: 10px; border: 1px solid #000000; line-height: 1.5em;">
    You requested a password reset from OurJSEditor today at {{time}}.<br>
    <a href='{{link}}' style="padding: 3px 10px; color: white; background-color: #337ab7; border: none; transition: 0.2s; text-decoration: none;">Reset Your Password</a><br>

    <p style="font-size: 0.6667em; margin:0;">
        If you didn't request this, then it means someone else knows your email.
        Your account is not compromised.
    </p>
</div>
