<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>
        Login &mdash; OurJSEditor
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile/login.css' %}">
</head>
<body>
    {% include "ourjseditor/user-info.html" %}
    <br>
    <div id="inner-wrapper">
        <div class="two-panel collapse-700">
            <div id="login-form"></div>
            <div id="signup-form"></div>
        </div>
    </div>
    <script src="{% static 'jsx-components/login.js' %}"></script>
</body>
</html>
