<!DOCTYPE html>
<html><head>
    <title>
        Login &mdash; OurJSE
    </title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <script>
    var attemptLogin = function () {
        var loginT = document.getElementById("loginT");
        var form = document.getElementById("login-form");
        var data = {};
        var inputs = form.elements;
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].name) {
                data[inputs[i].name] = inputs[i].value;
            }
        }
        data = JSON.stringify(data);

        var req = new XMLHttpRequest();
        req.addEventListener("load", function () {
            console.log(this);
            if (this.status !== 200) {
                loginT.innerHTML = "Something went wrong.<br>";
                console.log(this);
            }else if (JSON.parse(this.response).loginSuccess) {
                location.href = "/";
            }else {
                loginT.innerHTML = "Your username or password was incorrect.<br>";
            }
        });
        req.open("POST", "login");
        req.setRequestHeader("Content-Type", "application/json");
        req.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        req.send(data);
    };
    var checkNewAccount = function () {
        loginT = document.getElementById("loginT");
        form = document.getElementById("create-account-form");
        if (form.username.value.match(/\W|$^/)) {
           loginT.innerHTML = "Please enter a valid username<br>";
           return false;
        }
        if (!form.email.value.match(/^(?:[\w.+-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+)?$/)) {
           loginT.innerHTML = "Please enter a valid email, or no email at all.<br>";
           return false;
        }
        if (form.password.value !== form.passwordConfirm.value) {
           loginT.innerHTML = "Passwords don't match<br>";
           return false;
        }
        if (document.getElementById("available").innerHTML !== "\u2714") {
           loginT.innerHTML = "That username is already taken<br>";
           return false;
        }
        if (form.password.value === "") {
            loginT.innerHTML = "Please enter a password<br>";
            return false;
        }
        if (form.firstName.value === "") {
            form.firstName.value = form.username.value;
        }
        return true;
    };
    var checkUsername=function(){
        var available=document.getElementById("available");
        available.innerHTML = "";
        var ans=false;

        var req = new XMLHttpRequest();
        req.addEventListener("load", function() {
            if (this.status == 200) {
                ans=JSON.parse(this.response);
                ans=ans["username_available"];
            }
            if(ans){
                  available.innerHTML="&#x2714;";
                  available.style.color="green";
            }
            else{
                   available.innerHTML="&#x2717;";
                   available.style.color="red";
            }
        });
        req.open("GET", "/api/users/username_available?username="+document.getElementById("username").value);
        req.send();
    };
    </script>
</head>
<body>
    <div id="container">
    <i id="loginT" style="color:red;"></i>
    <form action="javascript:attemptLogin()" id="login-form" name="login-form">
        <b>Login:</b>
        <br>
        <input type="text" name="username" placeholder="Username">
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        <input class="btn" type="submit" value="Login">
    </form>
    <hr>
    <form method="POST" id="create-account-form" name="create-account-form" onsubmit="return checkNewAccount()">
        <b>Create Account:</b>
        {% csrf_token %}
        <br>
        <input type="text" name="firstName" placeholder="Name">
        <br>
        <input type="email" name="email" placeholder="Email">
        <br>
        <input type="text" name="username" placeholder="Username" onkeyup="checkUsername()" id="username"> <b id="available"></b>
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        <input type="password" name="passwordConfirm" placeholder="Repeat Password">
        <br>
        <input class="btn" type="submit" value="Create Account">
    </form>
    </div>
</body>
</html>
