<!DOCTYPE html>
<html><head>
    <title>
        Reset Password &mdash; OurJSE
    </title>
    <script>
        var verify = function () {
            return document.getElementById("reset-password-form").password.value ===
                document.getElementById("reset-password-form")["password-confirm"].value;
        }
    </script>
</head>
<body>
    <i id="errors" style="color:red;">{{ error }}</i>
    <form method="POST" id="reset-password-form" onsubmit="return verify()" action="?">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="hidden" name="token" value="{{token}}">
        Enter a new password:
        <input type="password" placeholder="Password" name="password"><br>
        Confirm your password:
        <input type="password" placeholder="Confirm Password" name="password-confirm">

        <input class="btn" type="submit" value="Reset Password">
    </form>
</body>
</html>
