<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title id="title-tag">
        Reset Password &mdash; OurJSEditor
    </title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user_profile/login.css' %}">
</head>
<body>
    {% include "ourjseditor/user-info.html" %}

    <div class="inner-wrapper one-col">
        <h2>Reset Password</h2>
        <i id="errors" style="color:red;">{{ error }}</i>
        <form method="POST" id="reset-password-form" class="basic-form">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{user_id}}">
            <input type="hidden" name="token" value="{{token}}">
            Enter a new password:
            <input type="password" placeholder="Password" name="password"><br>
            Confirm your password:
            <input type="password" placeholder="Confirm Password" name="password-confirm">

            <input class="btn" type="submit" value="Reset Password">
        </form>
    </div>

    <script>
        var resetForm = document.getElementById("reset-password-form");

        var verify = function (evt) {
            if (resetForm.password.value !== resetForm["password-confirm"].value) {
                evt.preventDefault();

                document.getElementById("errors").textContent = "Passwords don't match";
            }
        }

        resetForm.addEventListener("submit", verify)
    </script>
</body>
</html>
