<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'ourjseditor/404.css' %}">
    <title id="title-tag">404 Program not found</title>
</head>
<body>

{% include "../ourjseditor/user-info.html" %}

<div class="error-pg">
    <div class="error-message">
        <h2><strong>Error 404:</strong></h2>
        <p>
            Sorry, this program doesn't exist. Maybe try
            <ul class="link-list">
                <li><a href="https://ourjseditor.com/new">a new program</a></li>
                <li><a href="https://ourjseditor.com/programs">recent programs</a></li>
                <li><a href="https://ourjseditor.com/programs/top">top programs</a></li>
            </ul>
        </p>
    </div>
</div>

</body>
</html>
