<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title-tag">New program &mdash; OurJSEditor</title>

    <!-- Beautify Web - HTML, CSS, JS -->
    <script src="/static/scripts/beautify-web/beautify-html.js"></script>
    <script src="/static/scripts/beautify-web/beautify-css.js"></script>
    <script src="/static/scripts/beautify-web/beautify.js"></script>
    <!-- Ace Editor -->
    <script src="/static/scripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/scripts/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
    <!-- Together -->
    <script src="https://togetherjs.com/togetherjs-min.js"></script>
    <!-- Program Script -->
    <script src="/static/scripts/program.js"></script>
    <!-- Program Style -->
    <link rel="stylesheet" href="/static/styles/program.css" type="text/css">
</head>
<body>
    <nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/static/images/logo-text.png" height="20px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="toolbar">
            <ul class="nav navbar-nav">
                <li id="btnRun"><a href="">Run</a></li>
                <li id="btnTidyUp"><a href="">TidyUp</a></li>
                <li id="btnTogether"><a href="">Collaborate</a></li>
                <li id="btnSave"><a href="">Save</a></li>
                <li id="btnDelete"><a href="">Delete</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

        {% include "../ourjseditor/user-info.html" %}
    </nav>

    <!-- Sidebar -->
    <div id="sidebar">
        <div style="height: 51px;"></div>
        <div class="panel-body">
            <div id="program-title">Name your program</div>
            <div class="author-ref">Created by <a id="program-author">You</a>.</div>
            <div style="height: 20px"></div>
            <table id="vote-table">
                <tr>
                    <td>Entertaining:</td>
                    <td id="entertaining-vote-count"  class="vote-count">0</td>
                    <td id="entertaining-vote-button" class="vote-button">&#x2b06;</td>
                </tr>
                <tr>
                    <td>Artistic:</td>
                    <td id="artistic-vote-count"  class="vote-count">0</td>
                    <td id="artistic-vote-button" class="vote-button">&#x2b06;</td>
                </tr>
                <tr>
                    <td>Informative:</td>
                    <td id="informative-vote-count"  class="vote-count">0</td>
                    <td id="informative-vote-button" class="vote-button">&#x2b06;</td>
                </tr>
            </table>
        </div>
    </div><!-- /sidebar -->

    <div class="editors">
        <div class="top">
            <!-- JS Editor -->
            <div class="editorContainer">
                <div class="editor" id="js-editor"></div>
            </div>
            <!-- Preview -->
            <div class="editorContainer">
                <iframe class="editor" id="preview" name="result" src="https://exec.ourjseditor.com" sandbox="allow-forms allow-scripts allow-same-origin" frameborder="0"></iframe>
            </div>
        </div>
        <div class="bottom">
            <!-- HTML Editor -->
            <div class="editorContainer">
                <div class="editor" id="html-editor"></div>
            </div>
            <!-- CSS Editor -->
            <div class="editorContainer">
                <div class="editor" id="css-editor"></div>
            </div>
        </div>
    </div>

    <div id="comment-wrap" class="editors"></div>

    <div id="backCover"></div>
    <div class="confirm" id="deleteConfirm">
        <span class="confirm-info">Are you sure you want to delete this program?</span>
        <br>
        <span class="confirm-buttons">
            <a href='javascript:closeConfirm();' class='confirm-cancel'>Cancel</a>
            <a href='javascript:deleteProgram();' class='confirm-confirm'>Delete</a>
        </span>
    </div>

    <script>
        var runningLocal = false;

        try {
            var programData = JSON.parse('{{ data_dict|escapejs }}');
            var csrf_token = "{{ csrf_token }}";
        }catch (e) {
            var runningLocal = true;
        }
    </script>
</body>
</html>
