<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title id="title-tag">New program &mdash; OurJSEditor</title>

    <!-- Ace Editor -->
    <script src="{% static 'program/ace/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'program/ace/ext-language_tools.js' %}" type="text/javascript" charset="utf-8"></script>
    <!-- Markdown -->
    <script src="https://cdn.jsdelivr.net/npm/remarkable@1.7.1/dist/remarkable.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/default.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/highlight.min.js"></script>
    <!-- Beautify Web - HTML, CSS, JS -->
    <script src="{% static 'program/beautify-web/beautify-html.js' %}"></script>
    <script src="{% static 'program/beautify-web/beautify-css.js' %}"></script>
    <script src="{% static 'program/beautify-web/beautify.js' %}"></script>
    <!-- Editor Settings -->
    <script src="{% static 'program/editor-settings.js' %}"></script>
    <!-- Together -->
    <script src="https://togetherjs.com/togetherjs-min.js"></script>
    <!-- Program Script -->
    <script src="{% static 'program/program.js' %}"></script>
    <!-- Program Style -->
    <link rel="stylesheet" href="{% static 'program/program.css' %}" type="text/css">

    <link rel="stylesheet" type="text/css" href="{% static 'program/navbar.css' %}">
</head>
<body>
    <nav class="navbar navbar-default">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="toolbar">
            <ul class="nav navbar-nav">
                <li id="run-button"><a><span class="icon icon-run"></span> Run</a></li>
                <li id="collaborate-button">
                    <a><span class="icon icon-user-plus"></span> Collaborate</a>
                    <div id="collaborate-popup" class="popup" style="display: none">
                        <div id="close-button-wrap"><span class="icon icon-cancel clickable"></span></div>
                        <div class="left">
                            <div class="header">Collaborators</div>
                            <ul id="collaborators">
                                <li id="add-collaborator">
                                    <span class="icon icon-user-plus clickable" id="add-collaborator-button"></span> <input type="text" id="add-collaborator-textbox"  placeholder="Add collaborator by username">
                                </li>
                            </ul>
                        </div><!--
                        --><div class="divider"></div><!--
                        --><div class="right">
                        <div class="header">Start a live session</div>
                        <div class="sub-header">Powered by Together.js</div>
                            <button class="button" id="live-collab-button">Start</button>
                        </div>
                    </div>
                </li>
                <li id="save-button"><a><span class="icon icon-save"></span> Save</a></li>
                <li id="publish-button"><a><span class="icon icon-bell"></span> Publish</a></li>
                <li id="fork-button"><a><span class="icon icon-flow-split"></span>Fork</a></li>
                <li id="delete-button"><a><span class="icon icon-delete"></span> Delete</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

    <!-- Sidebar -->
    <div id="sidebar">
        <div style="height: 51px;"></div>
        <div class="panel-body">
            <div class="sidebar-element">
                <div id="program-title">Name your program</div>
                <div id="program-author">Created by <a class="sidebar-link" id="program-author-link"></a></div>
                <div id="updated-date" class="sidebar-element">
                    <div>Created <span id="created-date"></span></div>
                    <div id="published">
                        Last Published <span id="published-date"></span>
                    </div>
                </div>
                <div id="parent-program">Based on <a class="sidebar-link" id="parent-program-link"></a>.</div>
            </div>

            <div id="vote-table">
                <div class="vote-button" id="entertaining-vote-button">
                    <span class="icon icon-gamepad"></span> Entertaining: <span id="entertaining-vote-count"  class="vote-count">0</span>
                </div>
                <div class="vote-button" id="artistic-vote-button">
                    <span class="icon icon-brush"></span> Artistic: <span id="artistic-vote-count"  class="vote-count">0</span>
                </div>
                <div class="vote-button" id="informative-vote-button">
                    <span class="icon icon-graduation-cap"></span> Informative: <span id="informative-vote-count"  class="vote-count">0</span>
                </div>
            </div>

            <div id="editor-settings" class="sidebar-element">
                <button id="editor-settings-button"><span id="editor-settings-arrow">&#x25B6;</span>Editor Settings</button>
            </div>

            <div id="view-fullscreen" class="sidebar-element">
                <a id="view-fullscreen-link" class="sidebar-link">View this program fullscreen</a>
            </div>
        </div>
    </div><!-- /sidebar -->

    <div id="editors" class="section split">
        <table class="editor-table"><tbody>
            <tr class="top">
                <!-- JS Editor -->
                <td class="editor-container selected" id="main-editor">
                    <h3 class="editor-header">JS Editor</h3>
                    <div id="tab-row">
                        <button data-tab-id="js" class="selected">JS</button><!--
                        --><button data-tab-id="html">HTML</button><!--
                        --><button data-tab-id="css">CSS</button>
                    </div>

                    <div class="editor" id="js-editor"></div>
                </td>
                <!-- Preview -->
                <td class="editor-container" id="preview-container">
                    <h3 class="editor-header">Preview</h3>
                    <iframe class="editor" id="preview" name="result" src="{{ MEDIA_URL }}index.html" sandbox="allow-forms allow-scripts allow-same-origin" frameborder="0"></iframe>
                </td>
            </tr>
            <tr class="bottom">
                <!-- HTML Editor -->
                <td class="editor-container">
                    <h3 class="editor-header">HTML Editor</h3>
                    <div class="editor" id="html-editor"></div>
                </td>
                <!-- CSS Editor -->
                <td class="editor-container">
                    <h3 class="editor-header">CSS Editor</h3>
                    <div class="editor" id="css-editor"></div>
                </td>
            </tr>
            <tr>
                <td id="bottom-dragger" colspan="2"></td>
            </tr>
        </tbody></table>
    </div>

    <div id="comment-wrap" class="section"></div>

    <div id="back-cover"></div>
    <div class="confirm" id="delete-confirm">
        <div class="confirm-info">Are you sure you want to delete this program?</div>
        <span class="confirm-buttons">
            <a id="delete-cancel-button" class="confirm-cancel">Cancel</a>
            <a id="delete-confirm-button" class="confirm-confirm">Delete</a>
        </span>
    </div>

    <div class="confirm" id="publish-confirm">
        <div class="confirm-info">Are you sure you want to publish this program?</div>
        <img id="thumbnail-preview">
        <div class="confirm-info" style="padding-top: 15px">Enter a message or short description for your subscribers:</div>
        <textarea id="publish-message" class="confirm-prompt-area" maxlength="100"></textarea>
        <span class="confirm-buttons">
            <a id="publish-cancel-button" class="confirm-cancel">Cancel</a>
            <a id="publish-confirm-button" class="confirm-confirm">Publish</a>
        </span>
    </div>

    {% include "../ourjseditor/user-info.html" %}

    <script>
        try {
            var programData = JSON.parse('{{ data_dict|escapejs }}');
        }catch (e) {
            alert("Loading program data failed.");
            throw e;
        }
    </script>
</body>
</html>
