<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title-tag">Programs &mdash; OurJSEditor</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/program-list.css">
</head>
<body>
    <div id="inner-wrapper">
    </div>

    {% include "../ourjseditor/user-info.html" %}

    <script>
        window.initialProgramList = JSON.parse("{{ programs|escapejs }}");
        window.sort = "{{ sort|escapejs }}";
    </script>
    <script src="/static/scripts/components/program-list-page.js"></script>
</body>
</html>
