<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title-tag">Programs &mdash; OurJSEditor</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/styles/user-profile.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/styles/program-list.css">
</head>
<body>
    {% include "../ourjseditor/user-info.html" %}

    <div id="inner-wrapper">
        <div id="program-list"></div>
    </div>

    <script>
        window.initialProgramList = JSON.parse("{{ programs|escapejs }}")
        window.sort = "{{ sort|escapejs }}";
    </script>
    <script src="/static/scripts/components/program-list-page.js"></script>
</body>
</html>
