<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title id="title-tag">New Program &mdash; OurJSEditor</title>
    <link rel="stylesheet" type="text/css" href="{% static 'program/new-program.css' %}">
</head>
<body>
    {% include "../ourjseditor/user-info.html" %}

    <div class="inner-wrapper">
        <div id="template-selector"></div>
    </div>

    <script>
        var programTemplates = JSON.parse("{{ template_descriptions|escapejs }}");
    </script>

    <script src="{% static 'jsx-components/new-program.js' %}"></script>
</body>
</html>
