<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'program/program-sections.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'program/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ourjseditor/homepage.css' %}">
    <title id="title-tag">Our JS Editor</title>
</head>

<body>

    <div id="main-content">
    </div>

    {% include "ourjseditor/user-info.html" %}
    <script>
        /*
        -Loads
            -If you're logged in
                -Recently created programs of yours
                -Recently published programs from your subscriptions
            -Top programs
        */
        window.programs = JSON.parse("{{ programs|escapejs }}")
    </script>
    <script src="{% static 'jsx-components/home.js' %}"></script>
</body>
</html>
