<link rel="icon" href="/favicon.ico">

<script>
    var link = document.createElement("link");
    link.setAttribute("rel", "stylesheet");
    link.setAttribute("type", "text/css");
    link.setAttribute("href", "/static/styles/user-info.css");
    document.head.appendChild(link);
</script>

<div id="user-info" style="display: none">
    <span class="user-info-element">
        <button id="user-links-button" class="user-info-button">{{ request.user.profile.display_name|default:"Not Logged In" }}</button>

        <div id="user-links" style="display: none">
            {% if request.user.is_authenticated %}
                <a class="link" href="/user/{{ request.user.username }}">@{{ request.user.username }}</a>
                <a class="link" href="/">Home</a>
                <a class="link" href="/user/logout">Log Out</a>
            {% else %}
                <a class="link" href="/">Home</a>
                <a class="link" href="/user/login?next={{ request.path|urlencode }}">Log In</a>
            {% endif %}
        </div>
    </span><!--

    --><span class="user-info-element">
        <button id="notif-panel-button" class="user-info-button">Notifs (<span id="notif-count">0</span>)</button>

        <div id="notif-panel" class="closed">
            <div class="notif-buttons-wrap">
                <button class="user-info-button notif-button" id="notif-all-read">Mark All Read</button><button class="user-info-button notif-button" id="notif-panel-close-button">Close</button>
            </div>

            <div id="notifs-wrap">
            </div>

            <div class="notif-end-msg">
                There are no comments below this.<br>
                Read comments over a month old may be deleted periodically.
            </div>
        </div>
    </span>

    <script>
        {% load notifications %}

        userData = {
            {% if request.user.is_authenticated %}
                "loggedIn": true,
                "username": "{{ request.user.username|escapejs }}",
                "id": "{{ request.user.profile.profile_id|escapejs }}",
                "displayName": "{{ request.user.profile.display_name|escapejs }}",
                "notifications": JSON.parse('{% notifs_as_json request.user %}')
            {% else %}
                "loggedIn": false,
            {% endif %}
        };

        document.addEventListener("DOMContentLoaded", function () {
            var userLinksOpen = false;
            var userLinks = document.getElementById("user-links");
            document.getElementById("user-links-button").addEventListener("click", function () {
                userLinks.style.display = userLinksOpen ? "none" : "block";
                userLinksOpen = !userLinksOpen;
            });

            var notifPanel = document.getElementById("notif-panel");
            document.getElementById("notif-panel-button").addEventListener("click", function () {
                notifPanel.classList.toggle("closed");
            });
            document.getElementById("notif-panel-close-button").addEventListener("click", function () {
                notifPanel.classList.toggle("closed");
            });

            document.getElementById("notif-all-read").addEventListener("click", function () {
                var notifs = userData.notifications;
                for (var i = 0; i < notifs.length; i++) {
                    if (!notifs[i].isRead) {
                        notifs[i].isRead = true;

                        var req = new XMLHttpRequest();
                        req.open("PATCH", "/api/notif/" + notifs[i].id);
                        req.setRequestHeader("X-CSRFToken", csrf_token);
                        req.send(JSON.stringify({ isRead: true }));
                    }
                }

                var notifEls = document.querySelectorAll(".read-indicator:not(.read)");
                for (var i = 0; i < notifEls.length; i++) {
                    notifEls[i].classList.add("read");
                }
            });

            var notifs = userData.notifications;
            var notifsWrap = document.getElementById("notifs-wrap");
            for (var i = 0; i < notifs.length; i++) {
                var notifEl = document.createElement("div");
                notifEl.classList.add("notif");

                var readIndicator = document.createElement("span");
                readIndicator.classList.add("read-indicator");
                if (notifs[i].isRead) {
                    readIndicator.classList.add("read");
                }

                readIndicator.dataset.notifId = notifs[i].id;

                readIndicator.addEventListener("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var readIndicator = this;
                    var notifId = readIndicator.dataset.notifId;

                    for (var j = 0; j < notifs.length; j++) {
                        if (notifs[j].id === notifId) {
                            break;
                        }
                    }

                    notifs[j].isRead = !notifs[j].isRead;

                    var req = new XMLHttpRequest();
                    req.open("PATCH", "/api/notif/" + notifs[j].id);
                    req.setRequestHeader("X-CSRFToken", csrf_token);
                    req.addEventListener("load", function () {
                        readIndicator.classList.toggle("read");
                    });
                    req.send(JSON.stringify({ isRead: notifs[j].isRead }));
                }, false);

                var notifInfo = document.createElement("a");
                notifInfo.setAttribute("href", notifs[i].link);
                notifInfo.classList.add("notif-info-wrap");

                var description = document.createElement("div");
                description.classList.add("notif-description");
                description.innerHTML = notifs[i].description;

                var preview = document.createElement("div");
                preview.classList.add("notif-preview")
                preview.innerText = notifs[i].preview;

                notifEl.appendChild(readIndicator);
                notifInfo.appendChild(description);
                notifInfo.appendChild(preview);
                notifsWrap.appendChild(notifEl).appendChild(notifInfo);
            }
        });
    </script>
</div>
