html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
    height: 100%;
}

.editors {
    margin: 0px 0px 0 217px;
    padding: 10px;
    position: relative;
    background: #F6F6F6;
}

.top, .bottom {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.editorContainer {
    width: 49%;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.editor {
    height: 400px;
    width: 100%;
    border: 1px #cecece solid;
}

#sidebar {
    padding: 0;
    margin: 0;
    font-size: 11px;
    width: 217px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #444;
    height: 100%;
}

.navbar-default {
    background: rgb(72, 126, 179);
    border-color: #cecece;
    border-radius: 0px;
    border: none;
    height: 44px;
    margin-bottom: 0px;
    min-height: 50px;
    position: relative;
    z-index: 1;
}

.navbar-default .navbar-brand {
    width: 217px;
    margin-right: 0px;
    color: #fff;

    box-sizing: border-box;
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;

    text-decoration: none;
}

.navbar-nav {
    margin: 0;
}

.navbar-default .navbar-brand:hover {
    color: #cecece;
}

.navbar-default ul li {
    background: rgb(65, 118, 169);
    margin-right: 1px;
    float: left;
    list-style: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
    line-height: 20px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #cecece;
}

.panel-body {
    padding: 15px;
}

#program-title {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size: 17px;
    font-weight: bold;
}

#program-title.editable:hover {
    cursor: pointer;
}

/*Things hidden initially by CSS, then revealed by Javascript*/
#btnSave, #btnDelete, #backCover, .confirm {
    display: none;
}

#backCover {
    /*display: none;*/
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #000000;
    opacity: 0.3;
    z-index: 100;
}

.confirm {
    z-index: 101;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 25%;
    left: 50%;
    background: #FFFFFF;
    padding: 25px;
    border: 1px solid #d7d7d7;
    font-size: 15px;
}

.confirm-buttons {
    text-align: right;
    width: 100%;
    display: inline-block;
    margin-top: 25px;
}

.confirm-buttons a {
    padding: 6px 10px;
    margin: 5px;
    text-decoration: none;
    background: rgb(65, 118, 169);
    color: #FFFFFF;
}
.confirm-buttons a:active,  .confirm-buttons a:hover{
    color: #f0f0f0;
}

#deleteConfirm .confirm-cancel {
    font-weight: bold;
}

.dropdown {
    border-radius: 0px;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(248, 248, 248);
}

.dropdown:hover {
    cursor: pointer;
}

input, textarea {
    width: 100%;
    margin-bottom: 5px;
}
