body{
    background-color:#161E2C;
    text-align:center;
    color:#337ab7;
    font-family:sans-serif;
}
input{
    font-size:1em;
    width:90%;
    margin-bottom:0.5em;
    outline:none;
}
.btn{
    font-size:1.2em;
    width:100%;
    color:white;
    background-color:#337ab7;
    border:none;
    transition:0.2s;
}
.btn:hover{
    background-color:#235a87;
}
#container{
    margin: 0 auto;
    background-color:white;
    width:20em;
    text-align:left;
    padding:1.5em;
    border-top:solid;
    border-width:0.5em;
}
