body {
    background-color: #161E2C;
    font-family: sans-serif;
    margin: 0;
}

.main-table {
    width: 70%;
    max-width: 70%;
    background: white;
    border-spacing: 20px;
    padding: 0px;
    margin: 20px;
    margin-left: 15%;
}

.programs td {
    padding: 10px;
}

.program-link {
    text-decoration: none;
    border-bottom: 1px solid rgb(148, 148, 148);
    padding: 1px 5px 1px 2px;
    color: black;
}

.profile-image, .image-wrap {
    width: 200px;
    height: 200px;
}

.name {
    height: 70px;
    background: #337ab7;
    padding-left: 20px;
    color: #FFFFFF;
    max-width: 0;
    overflow: hidden;
}

.display-name {
    font-size: 20.0pt;
}

.username {
    font-size: 14.0pt;
    font-weight: bold;
}

.username::before {
    content: "@";
    font-weight: normal;
}

.bio {
    max-height: 130px;
    overflow: hidden;
    margin: 0;
}

.button {
    font-size: 20px;
    width: 100%;
    color: white;
    background-color: #337ab7;
    border: none;
    transition: 0.2s;
    text-decoration: none;
}

.button:hover {
    background-color: #235a87;
}

.profile-edit {
    padding: 3px 10px;
    width: initial;
}

.edit-wrap {
    text-align: right;
    vertical-align: bottom;
}

.name-edit {
    background: none;
    border: none;
    outline: none;
    border-bottom: white solid 2px;
    color: white;
    font: inherit;
}

.bio-edit {
    font: inherit;
    width: 98%;
    height: 118px;
    padding: 5px;
    outline: none;
    resize: none;
}

#available {
    color: rgb(232, 232, 232);
}

.name-edit::placeholder {
    color: rgb(232, 232, 232);
}
.name-edit::-webkit-input-placeholder {
    color: rgb(232, 232, 232);
}
.name-edit::-moz-placeholder {
    color: rgb(232, 232, 232);
}
.name-edit:-ms-input-placeholder {
    color: rgb(232, 232, 232);
}
