<!DOCTYPE html>
<html><head>
    <title>Profile for {{ user.username }}</title>
</head>
<body style="background-color: #161E2C;">
     <table class="main-table" border="0" cellspacing="" cellpadding="0" width="101%" style="width: 70%; background: white; border-spacing: 10px; padding: 0px; margin-left: 15%;">
        <tbody><tr style="height: 30%;">
           <td rowspan="2" style="width: 200px;">
               <img width="200" height="200" src="https://cdn.discordapp.com/avatars/254274910816436234/d3d11d86997ba1aacce982f222a64117.jpg?size=1024">
           </td>
           <td valign="bottom" style="height: 70px; background: #337ab7; padding-left: 20px;">
              <p class="username"><span style="font-size:20.0pt">{{ user.first_name }}<br></span>
                 <b><span style="font-size:14.0pt;">@<span class="SpellE">{{ user.username }}</span></span></b>
              </p>
           </td>
        </tr>
        <tr style="height: 70%;">
           <td>
              <p class="bio">
                 {{ user.profile.bio }}
              </p>
           </td>
        </tr>
     </tbody>
 </table>
</body></html>
