<!DOCTYPE html>
<html><head>
    <title>Profile for {{ user.username }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/user-profile.css">
</head>
<body>
    <table class="main-table">
        <tbody>
            <tr>
                <td rowspan="3" style="width: 200px;">
                    <img class="profile-image" src="/static/images/logo.png">
                </td>
                <td class="name">
                    <div class="display-name">
                        {{ user.profile.display_name }}
                    </div>
                    <div class="username">
                        @{{ user.username }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="bio">
                        {{ user.profile.bio }}
                    </p>
                </td>
            </tr>
            <tr>
                <td class="edit-wrap">
                    {% if user.username == currentUser.username %}
                        <a href="edit" class="button profile-edit">Edit Your Profile</a>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</body></html>
