body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background: #f7faff;
}

.inner-wrapper {
    padding: 35px 5vw;
    max-width: 900px;
    width: 100%;
    margin: 3% auto;
    margin-top: calc(58px + 3%);
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
}

.inner-wrapper.one-col {
    max-width: 500px;
}

.two-panel > * {
    width: 49%;
    display: block;
}

footer {
    display: none !important;
}

.two-panel,
.tri-flex {
    display: flex;
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

@media (max-width: 400px) {
    .collapse-400 {
        display: block;
    }
    .collapse-400 > * {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .collapse-700 {
        display: block;
    }
    .collapse-700 > * {
        width: 100%;
    }
    .inner-wrapper {
        margin: 30px 25px;
    }
}

@media (min-width: 700px) {
    body {
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        align-items: center;
    }
}

.basic-form > * {
    margin: 5px 0;
}

.basic-form input {
    font-size: 0.9em;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: rgb(241, 241, 244);
    font-family: "Open sans", sans-serif;
    transition: all 0.2s;
    border: 1px solid rgba(0, 0, 0, 0);
}

.basic-form input:focus {
    outline: none;
    border: 1px solid rgb(100, 100, 100);
    transition: all 0.2s;
}

.basic-form input[type="submit"] {
    border: none;
    background: #487eb3;
    color: #fdfaf7;
    cursor: pointer;
}

.basic-form input[type="submit"]:focus,
.basic-form input[type="submit"]:hover {
    background: #4176a9;
}

.error {
    color: #7f0000;
}

.validated-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.validated-field input {
    margin-right: -35px;
}

.validated-field img {
    margin-right: 5px;
}
