body {
    background: #f7faff;

    width: 100%;
    height: calc(100% - 58px);
    padding-top: 58px;
    position: fixed;
    display: flex;
    align-items: center;
}

footer {
    display: none !important;
}

#inner-wrapper {
    padding: 35px 5vw;
    max-width: 900px;
    margin: 3% auto;
    background: #ffffff;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.1);
}

.template {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid #F0F0F0;
    text-decoration: none;
    color: black;
    background-color: #FBFBFB;
    vertical-align: top;
    position: relative;
}

.template:hover {
    transition: all 0.1s;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.05);
    transform: translate(-1px, -1px);
}

.template .title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.template .description {
    font-size: 15px;
    text-align: center;
    padding: 20px;
    /* display: inline-block; */
    /* vertical-align: bottom; */
    bottom: 0;
    position: absolute;
}
