html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
    height: 100%;
}

.section {
    margin: 0 0 0 217px;
    padding: 10px;
    position: relative;
    background: #F6F6F6;
    z-index: 0; /*Make sure Ace components always render behind ours*/
}

.top, .bottom {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.editor-container {
    /*width: 49%;*/
    /*float: left;*/
    margin-right: 5px;
    margin-bottom: 5px;
    height: 100%;
}

.editor-container, .editor-container > * {
    /*box-sizing: border-box;*/
}

#preview-container, #preview {
    width: 500px;
}
#preview {
    height: 500px;
    display: block;
}

.top .editor {
    height: calc(100% - 21px); /* This is right in Chrome, 2px off in FF */
}
.bottom .editor {
    height: 350px;
}
.bottom {
    height: 350px; /*TODO: Resizable with JS*/
}

.editor {
    width: 100%;
    border: 1px #cecece solid;
}

.editor-table {
    width: 100%;
    height: 1px; /* Hack for Chrome to allow child elements to have % heights */
}

.editor-header {
    width: 100%;
    padding: 2px 5px;
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}

#tab-row {
    height: 21px;
}

/* -- Tabbed Editor rules -- */
#editors.tabbed #tab-row button {
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
    background: #EEEEEE;
    border: solid 1px #c3c3c3;
    height: 100%;
    border-bottom: none;
    border-right-style: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    outline: none;
}
#editors.tabbed #tab-row button:last-child {
    border-right-style: solid;
}
#editors.tabbed #tab-row button.selected {
    color: #f4f9ff;
    background: #2a6aa9;
    bottom: -1px;
}
#editors.tabbed #tab-row button:not(.selected):hover {
    background: #e1e1e1;
}
#editors.tabbed .editor-container:not(#preview-container) .editor-header {
    display: none;
}
#editors.tabbed .editor-container:not(.selected):not(#preview-container) {
    display: none;
}

/* -- Split editor rules -- */
#editors.split #tab-row {
    display: none;
}


#sidebar {
    padding: 0;
    margin: 0;
    font-size: 15px;
    width: 217px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 100%;
}

.sidebar-element:not(:first-child) {
    margin-top: 20px;
}

.sidebar-link {
    color: #345e86;
    text-decoration: underline;
    cursor: pointer;
}

#view-fullscreen-link {
    font-size: 14px;
}

.vote-button:hover {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vote-button.voted {
    color: rgb(65, 118, 169);
}

.navbar-default {
    background: rgb(72, 126, 179);
    border-color: #cecece;
    border-radius: 0px;
    border: none;
    height: 44px;
    margin-bottom: 0px;
    min-height: 50px;
    position: relative;
    z-index: 1;
}

.navbar-default .navbar-brand {
    width: 217px;
    margin-right: 0px;
    color: #fff;

    box-sizing: border-box;
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;

    text-decoration: none;
}

.navbar-nav {
    margin: 0;
}

.navbar-default .navbar-brand:hover {
    color: #cecece;
}

.navbar-default ul li {
    background: rgb(65, 118, 169);
    margin-right: 1px;
    float: left;
    list-style: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #cecece;
    cursor: pointer;
}

.panel-body {
    padding: 15px;
}

#program-title {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    font-size: 19px;
    font-weight: bold;
}

#program-title.editable:hover {
    cursor: pointer;
}

#collaborate-button {
    position: relative;
}

#collaborate-popup {
    position: absolute;
    background: white;
    border: 1px solid #CCC;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
    z-index: 2;
    min-width: 450px;
    height: 200px;
    font-size: 15px;
}

#collaborate-popup #close-button-wrap {
    position: absolute;
    margin: 5px;
    width: 1em;
    height: 1em;
    line-height: 1em;
}

#collaborate-popup .left, #collaborate-popup .right {
    width: 50%;
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
    vertical-align: top;
    margin-right: -2px;
    text-align: center;
}

#collaborate-popup .divider {
    width: 2px;
    background: #b5b5b5;
    margin: 0;
    height: 100%;
    display: inline-block;
    /*Simulate space at above and below the divider, while keeping it the height of its container*/
    box-sizing: border-box;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

#collaborate-popup .header {
    margin-bottom: 5px;
    font-weight: bold;
}

#collaborate-popup ul {
    padding: 0;
    text-align: left;
    height: 156px;
    overflow-x: hidden;
    overflow-y: scroll;

}

#collaborate-popup li {
    background: none;
    list-style: inside none;
    float: none;
}

#collaborate-popup ul .icon {
    margin-right: 5px;
}

.sub-header {
    font-size: 12px;
    text-align: center;
    display: inline-block;
}

/* .button CSS from confirm-buttons */
.button {
    font-size: 13px;
    border: none;
    padding: 6px 10px;
    margin: 15px;
    background: rgb(65, 118, 169);
    color: #FFFFFF;
}
.button:hover, .button:active {
    cursor: pointer;
    color: #f0f0f0;
}

.icon.clickable {
    cursor: pointer;
}

#add-collaborator-textbox {
    width: 160px;
    margin-right: -5px;
}

/*Things hidden initially by CSS, then revealed by Javascript*/
#save-button, #delete-button, #publish-button, #fork-button, #back-cover, .confirm {
    display: none;
}

#back-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0.3;
    z-index: 100;
}

.confirm {
    z-index: 101;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 25%;
    left: 50%;
    background: #FFFFFF;
    padding: 25px;
    border: 1px solid #d7d7d7;
    font-size: 15px;
}

.confirm-buttons {
    text-align: right;
    width: 100%;
    display: inline-block;
    margin-top: 25px;
}

.confirm-buttons a {
    padding: 6px 10px;
    margin: 5px;
    text-decoration: none;
    background: rgb(65, 118, 169);
    color: #FFFFFF;
}
.confirm-buttons a:active,  .confirm-buttons a:hover {
    color: #f0f0f0;
    cursor: pointer;
}

.confirm-cancel {
    font-weight: bold;
}

#thumbnail-preview {
    display: block;
    margin-top: 15px;
    width: 200px;
    height: 200px;
}

input, textarea {
    width: 100%;
    margin-bottom: 5px;
}

#comment-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment {
    margin: 15px;
    background: #FFFFFF;
    transition: box-shadow 0.25s ease;
}

.comment.permalinked {
    box-shadow: 0px 0px 6px 1px #fdd258;
}

.comment, .comment-content {
    font-size: 15px;
}

.comment tr {
    border: 1px #cecece solid;
}

.comment table {
    border-collapse: collapse;
    width: 100%;
}

.comment-content {
    padding: 0 15px;
}

.comment .lower-row td {
    background: #f0f0f0;
    padding: 10px;
    font-size: 13px
}

.comment .lower-right {
    text-align: right;
}

.comment .lower-row a {
    color: black;
    text-decoration: underline;
    margin: 0 5px;
    font-size: 15px;
}

.comment .lower-row .permalink {
    font-size: 13px;
    color: #333;
}

.comment-comment {
    margin-left: 40px;
}

.comment-adding td:last-child {
    width: 50px;
    padding-right: 20px;
}

a.comment-submit {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 35px;
    color: white;
    background: rgb(72, 126, 179);
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

a.comment-cancel {
    text-decoration: underline;
    margin-left: 35px;
    color: black;
}

.comment-editing .textbox-wrapper {
    width: 100%;
    float: left;
    min-height: 100px;
}

.comment-editing .buttons-wrapper {
    float: left;
    margin-right: -111px;
    width: 111px;
    position: relative;
}

.comment-editing tr:first-child td[colspan="2"] {
    padding-right: 111px;
}

.comment a:hover {
    cursor: pointer;
}

.comment-adding textarea, .comment-editing textarea {
    padding: 5px;
    margin: 5px;
    margin-bottom: 0;
    resize: vertical;
    box-sizing: border-box !important;
    font-family: inherit;
    min-height: 90px;
}

.comment-delete-button {
    min-width: 50px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.comment-delete-confirm {
    background: white;
    border: 1px solid black;
    position: absolute;
    box-sizing: border-box;
    min-width: 150px;
    padding: 5px;
    text-align: center;
    z-index: 2;
    /*150/2 - 25*/
    left: -50px;
}

.comment-delete-confirm:hover {
    cursor: default;
}

.comment-content code,
.comment-content pre {
    background-color: #F6F6F6;
    border-radius: 3px;
    padding: 4px
}

.comment-content blockquote {
    padding: 10px 15px;
    margin: 0 5px;
    border-left: 5px solid #F6F6F6;
}

.comment-content blockquote *:last-child {
    margin-bottom: 0;
}
.comment-content blockquote *:first-child {
    margin-top: 0;
}

.editor-settings-container {
    background: #f0f0f0;
    margin: 0 -15px;
    padding: 0 10px;
}

.editor-settings-container input {
    width: unset;
}

.editor-settings-container input[type="text"] {
    width: 100px;
}

.editor-settings-container input[type="radio"] {
    margin-right: 8px;
}

.editor-settings-container table {
    border-collapse: separate;
    border-spacing: 5px;
}

#editor-settings-button {
    display: block;
    border: none;
    padding: inherit;
    font: inherit;
    color: inherit;
    background: inherit;
    outline: none;
}

#editor-settings-button:hover {
    cursor: pointer;
}

#editor-settings-arrow {
    width: 15px;
    margin-right: 6px;
    display: inline-block;
}
