body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    background: #F7FAFF;
}

#main-content {
    margin: 3% auto;
}

/** -- Section Styling -- **/

section {
    background: #FFFFFF;
    width: 1040px;
    margin: 30px;
}

.section-header {
    background: rgb(72, 126, 179);
    color: white;
    font-weight: bold;
    display: inline-block;
    height: 50px;
    width: 100%;
    vertical-align: middle;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.section-header .left, .section-header .right {
    width: 44%;
    position: relative;
    top: 50%;
    padding: 0 3%;
    display: inline-block;
}

.section-header .left {
    left: 0;
}
.section-header .right {
    right: 0;
    text-align: right;
}

.section-header .left > *, .section-header .right > * {
    transform: translate(0, -50%);
}

.section-content {
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}



/** -- Program List Styling -- **/

table.program-list {
    border-spacing: 30px;
}

.more-programs-button {
    font-size: 15px;
    border: none;
    background: #487eb3;
    color: #fdfaf7;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

.more-programs-button:hover {
    background: #4176a9;
}



/** -- Program Styling -- **/

.program {
    width: 200px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #fbfbfb;
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}

.program img {
    width: 200px;
    height: 200px;
}

.title-wrap {
    height: 42px;
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
}
.program-title {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 18px;
    top: 50%;
    display: block;
    position: absolute;
    transform: translate(0, -50%);
    text-align: center;
    width: 100%;
}

.program-author {
    color: #505050;
    margin: 5px;
    margin-left: 0;
    text-decoration: none;
}

.program-link {
    display: block;
}

.vote-info {
    width: 100%;
    color: #487EB3;
}

.vote-stat:first-child {
    text-align: left;
}
.vote-stat {
    text-align: center;
}
.vote-stat:last-child {
    text-align: right;
}

.vote-stat i {
    display: inline-block;
    width: 20px;
    height: 16px;
}

/** -- Button Styling -- **/
.button {
    display: block;
    text-align: center;
    background: #487eb3;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    transition: all 0.1s;
    outline: none;
    cursor: pointer;
    border: none;
    font-family: Helvetica, Arial, sans-serif;
}
.button.half:first-child {
    margin-bottom: 100px;
}
.button.half:last-child {
    margin-top: 100px;
}

.button:hover {
    background-color: #235a87;
}

.welcome {
    position: relative;
}

.welcome .button {
    float: right;
}

.welcome .button-wrap {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
}

.program.button-wrap {
    border: none;
    box-shadow: none;
    background: none;
}

.copy {
    padding: 15px;
    margin: 15px;
    display: inline-block;
    vertical-align: middle;
}

#banner .section-header {
    height: 100px;
}

#banner img {
    height: 20px;
}

#banner .button-wrap {
    display: block;
    transform: translate(0, -75%);
}

#banner .button {
    display: inline;
    background: rgb(247, 250, 255);
    color: #4176a9;
    padding: 10px 15px;
    cursor: pointer;
}

#banner .button:hover {
    background: rgba(247, 250, 255, 0.8)
}
