html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
    height: 100%;
}

.section {
    margin: 0 0 0 217px;
    padding: 5px 25px;
    margin-left: 251px;
    position: relative;
    background: white;
    z-index: 0; /*Make sure Ace components always render behind ours*/
    right:0px;
}

.top, .bottom {
    width: 100%;
    overflow: hidden;
}

.editor-container {
    /*width: 49%;*/
    /*float: left;*/
    margin-right: 5px;
    margin-bottom: 5px;
    height: 100%;
}

.bottom .editor-container {
    height: auto;
}

.editor-container, .editor-container > * {
    /*box-sizing: border-box;*/
}

#preview-container, #preview {
    width: 500px;
}
#preview {
    height: 500px;
    display: block;
}

.top .editor {
    height: calc(100% - 21px); /* This is right in Chrome, 2px off in FF */
}
.bottom .editor {
    height: calc(100% - 20px);
}
.bottom {
    /*height: calc(100vh - 690px); !*Default, JS will change with dragging*!*/
}

#bottom-dragger {
    height: 12px;
    cursor: ns-resize;
    /* box-shadow:
            inset #f6f6f6 0 -3px 0 0, inset #8a8a8a 0 -4px 0 0,
            inset #f6f6f6 0 -7px 0 0, inset #8a8a8a 0 -8px 0 0,
            inset #f6f6f6 0 -11px 0 0, inset #8a8a8a 0 -12px 0 0; */
    /* background: rgb(240, 240, 240); */
    border-bottom: 1px dashed rgb(158, 158, 158);
}

.editor {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    /* box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1); */
}

.editor-table {
    width: 100%;
    height: 1px; /* Hack for Chrome to allow child elements to have % heights */
}

.editor-header {
    width: 100%;
    padding: 2px 5px;
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}

#tab-row {
    height: 30px;
}

/* -- Tabbed Editor rules -- */
#editors.tabbed #tab-row button {
    font-size: 12px;
    width: 70px;
    background: #EEEEEE;
    border: none;
    height: 100%;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    outline: none;
}

#editors.tabbed #tab-row button.selected {
    color: white;
    background: #487EB3;
    transition: all 0.3s;
}
#editors.tabbed #tab-row button:not(.selected):hover {
    background: #e1e1e1;
    transition: all 0.3s;
}
#editors.tabbed #tab-row button:first-child {
    border-top-left-radius: 5px;
}
#editors.tabbed #tab-row button:last-child {
    border-top-right-radius: 5px;
}

#editors.tabbed .editor-container:not(#preview-container) .editor-header {
    display: none;
}
#editors.tabbed .editor-container:not(.selected):not(#preview-container) {
    display: none;
}
#editors.tabbed .editor-container.selected .editor { /* Blend the editor to the tab bar */
    border: none;
    border-top-left-radius: 0;
}


/* -- Split editor rules -- */
#editors.split #tab-row {
    display: none;
}


#sidebar {
    padding: 0px;
    margin: 0;
    font-size: 15px;
    width: 247px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F7FAFF;
    height: 100%;
    color: rgb(30, 30, 30);
    border: 2px solid rgb(240, 240, 240);
}

#sidebar a {
    color:rgb(60, 60, 60);
}

.sidebar-element:not(:first-child) {
    margin-top: 20px;
}

.sidebar-link {
    color: #345e86;
    text-decoration: underline;
    cursor: pointer;
}

#view-fullscreen-link {
    font-size: 14px;
}

.vote-button {
    background: white;
    padding: 5px 10px;
    color: #487EB3;
    border-radius: 5px;
    border: 2px solid rgb(240, 240, 240);
    width: 140px;
    margin-top: 10px;
    transition: all 0.3s;
}

.vote-button .icon {
    padding-right: 10px;
    margin-right: 5px;
    border-right: 3px solid rgb(240, 240, 240);
}

.vote-button:hover {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid rgb(210, 210, 210);
    color: #4176C9;
    transition: all 0.3s;
}

.vote-button.voted {
    color: lightgrey;
}

.navbar-default {
    height: 44px;
    min-height: 50px;
    margin-top: 65px;
    margin-left: 251px;
    position: relative;
    z-index: 3;
}

.navbar-default .navbar-brand {
    /* width: 217px; */
    box-sizing: border-box;
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}

.navbar-nav {
    margin: 0;
    padding: 0 25px;
}

.navbar-default ul li {
    /* background: rgb(65, 118, 169); */
    margin: 10px 0px;
    float: left;
    list-style: none;
}

.navbar-default .navbar-nav>li>a {
    color: #487EB3;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
    transition: all 0.3s;
    border: 2px solid rgba(0, 0, 0, 0.0);
}

.navbar-default .navbar-nav>li>a:hover {
    border-bottom: 2px solid #487EB3;
    cursor: pointer;
    transition: all 0.3s;
}
#run-button > a:nth-child(1) {
    font-weight: bold;
    color: rgb(53, 185, 66);
}

#run-button > a:nth-child(1):hover {
    border-bottom: 2px solid rgb(53, 185, 66);
}

/* Hover red on the delete button */
#delete-button > a:nth-child(1):hover {
    border-bottom: 2px solid rgb(185, 53, 53);
    color: rgb(185, 53, 53);
}

.panel-body {
    padding: 15px;
}

#program-title {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    font-size: 19px;
    font-weight: bold;
    border: none;
    background: none;
    color: rgb(30, 30, 30);
}

#program-title:active, #program-title:focus{
    border-bottom: 2px solid rgb(30, 30, 30);
    padding-bottom: 4px;
    margin-bottom: 4px;
    transition: all 0.2s;
}


#program-title.editable:hover {
    cursor: pointer;
}

#collaborate-button {
    position: relative;
}

#collaborate-popup {
    position: absolute;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    min-width: 500px;
    height: 200px;
    font-size: 15px;
}

#collaborate-popup #close-button-wrap {
    position: absolute;
    margin: 5px;
    width: 1em;
    height: 1em;
    line-height: 1em;
}

#collaborate-popup .left, #collaborate-popup .right {
    width: 50%;
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
    vertical-align: top;
    margin-right: -2px;
    text-align: center;
}

#collaborate-popup .divider {
    width: 2px;
    background: #b5b5b5;
    margin: 0;
    height: 100%;
    display: inline-block;
    /*Simulate space at above and below the divider, while keeping it the height of its container*/
    box-sizing: border-box;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

#collaborate-popup .header {
    margin-bottom: 5px;
    font-weight: bold;
}

#collaborate-popup ul {
    padding: 0;
    text-align: left;
    height: 156px;
    overflow-x: hidden;
    overflow-y: scroll;

}

#collaborate-popup li {
    background: none;
    list-style: inside none;
    float: none;
}

#collaborate-popup ul .icon {
    margin-right: 5px;
}

.sub-header {
    font-size: 12px;
    text-align: center;
    display: inline-block;
}

/* .button CSS from confirm-buttons */
.button {
    font-size: 13px;
    border: none;
    padding: 6px 10px;
    margin: 15px;
    background: rgb(65, 118, 169);
    color: #FFFFFF;
    border-radius: 5px;
    transition: all 0.4s;
}
.button:hover, .button:active {
    cursor: pointer;
    color: #f0f0f0;
    background: rgb(65, 118, 169);
}

.icon.clickable {
    cursor: pointer;
}

#add-collaborator-textbox {
    width: 160px;
    margin-right: -5px;
}

/*Things hidden initially by CSS, then revealed by Javascript*/
#save-button, #delete-button, #publish-button, #fork-button, #back-cover, .confirm {
    display: none;
}

#back-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0.3;
    z-index: 100;
}

.confirm {
    z-index: 101;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 25%;
    left: 50%;
    background: #FFFFFF;
    padding: 25px;
    border: none;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 15px;
}

.confirm-buttons {
    text-align: right;
    width: 100%;
    display: inline-block;
    margin-top: 25px;
}

.confirm-buttons a {
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    background: rgb(65, 118, 169);
    color: #FFFFFF;
    border-radius: 5px;
    transition: all 0.8s
}
.confirm-buttons a:active,  .confirm-buttons a:hover {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.4s;
}

.confirm-prompt-area {
    border-radius: 5px;
    border: 1px solid lightgrey;
}

#thumbnail-preview {
    display: block;
    margin-top: 15px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    margin-bottom: 5px;
}

#comment-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
    background:none;
    border-radius: 5px;
    max-width: 1500px;
}

.comment {
    margin: 15px 0;
    background: #FFFFFF;
    border: none;
    transition: box-shadow 0.25s ease;
}

.comment.permalinked {
    box-shadow: 0px 0px 6px 1px #fdd258;
}

.comment, .comment-content {
    font-size: 15px;
    border:none;
}

.comment {
    /* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1); */
    border-radius: 5px;
    border: 2px solid #F0F0F0;
}

.comment tr {
    border-radius: 5px;
}

.comment table {
    border-collapse: collapse;
    width: 100%;
}

.comment-content {
    padding: 0 15px;
}

.comment .lower-row td {
    background: #F0F0F0;
    padding: 10px;
    font-size: 13px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.comment .lower-right {
    text-align: right;
}

.comment .lower-row a {
    color: #487EB3;
    text-decoration: none;
    margin: 0 5px;
    font-size: 15px;
}

.comment .lower-row .permalink {
    font-size: 13px;
    color: #333;
}

.comment-comment {
    margin-left: 40px;
}

.comment-adding td:last-child {
    width: 50px;
    padding-right: 20px;
}

a.comment-submit {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 35px;
    color: white;
    background: rgb(72, 126, 179);
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
}

a.comment-cancel {
    text-decoration: underline;
    margin-left: 35px;
    color: black;
}

.comment-editing .textbox-wrapper {
    width: 100%;
    float: left;
    min-height: 100px;
}

.comment-editing .buttons-wrapper {
    float: left;
    margin-right: -111px;
    width: 111px;
    position: relative;
}

.comment-editing tr:first-child td[colspan="2"] {
    padding-right: 111px;
}

.comment a:hover {
    cursor: pointer;
}

.comment-adding textarea, .comment-editing textarea {
    padding: 5px;
    margin: 5px;
    margin-bottom: 0;
    resize: vertical;
    box-sizing: border-box !important;
    font-family: inherit;
    min-height: 90px;
}

.comment-delete-button {
    min-width: 50px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.comment-delete-confirm {
    background: white;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    box-sizing: border-box;
    min-width: 150px;
    padding: 5px;
    text-align: center;
    z-index: 2;
    /*150/2 - 25*/
    left: -50px;
}

.comment-delete-confirm:hover {
    cursor: default;
}

.comment-content code,
.comment-content pre {
    background-color: #F6F6F6;
    border-radius: 3px;
    padding: 4px
}

.comment-content blockquote {
    padding: 10px 15px;
    margin: 0 5px;
    border-left: 5px solid #F6F6F6;
}

.comment-content blockquote *:last-child {
    margin-bottom: 0;
}
.comment-content blockquote *:first-child {
    margin-top: 0;
}


@-webkit-keyframes fadeIn {
    from {
        opacity:0;
        height: 0px;
    } to {
        opacity:1;
        height: auto;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity:0;
        height: 0px;
    } to {
        opacity:1;
        height: 415px;
    }
}

.editor-settings-container {
    padding: 10px;
    background: #FFFFFF;
    color: rgb(8, 8, 8);
    margin: 0 -15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    opacity: 0;
    height: 0px;
    overflow:hidden;
}

.editor-settings-transition {
    /* Slide down and fade animation */
    opacity: 0;
    height: 0px;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.2s;
    -moz-animation-duration:0.2s;
    animation-duration:0.2s;
}

.editor-settings-container input {
    width: unset;
    padding: 5px;
    border: 1px solid lightgrey;
}

.editor-settings-container input[type="text"] {
    width: 100px;
}

.editor-settings-container input[type="radio"] {
    margin-right: 8px;
}

.editor-settings-container table {
    border-collapse: separate;
    border-spacing: 5px;
}

.editor-settings-container button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: #487EB3;
    color: white;
    transition: all 0.3s;
}

.editor-settings-container button:hover {
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.15s;
    cursor: pointer;
}

.editor-settings-container select {
    border: 1px solid lightgrey;
    padding: 4px;
    width: 100px;
}

#editor-settings-button {
    display: block;
    border: none;
    padding: inherit;
    font: inherit;
    color: inherit;
    background: inherit;
    outline: none;
}

#editor-settings-button:hover {
    cursor: pointer;
}

#editor-settings-arrow {
    width: 15px;
    margin-right: 6px;
    display: inline-block;
}


/* -- Console styles -- */
#console-el {
    vertical-align: top;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    height: calc(100% - 22px);
    min-height: calc(100vh - 690px);
    overflow: auto;
}

#console-el .message {
    width: calc(500px - 16px);
    display: flex;
    justify-content: space-between;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 3px;
}
#console-el .message pre {
    font-family: monospace;
    white-space: pre-wrap;
    margin: 0;
    flex-grow: 1;
    border-radius: 3px;
}
#console-el .message-right {
    font-family: monospace;
    font-weight: bold;
    padding-left: 16px;
}

#console-el .message.error {
    background: #d79393;
    padding: 8px;
}
