html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #161E2C;
    font-family: 'Open Sans', sans-serif;
}

.error-pg {
    padding: 25px;
    margin: 30px;
}

.error-message {
    margin-left: 25px;
    width: 60%;
    padding: 25px;
    max-height: 500px;
    background: white;
    float: left;
    position: absolute;
    bottom: 55px;
    top: 55px;
}

.link-list li {
    padding: 5px;
}
