/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/

body {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    background: #f7faff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#inner-wrapper {
    padding: 35px 5vw;
    max-width: 900px;
    display: relative;
    margin: 3% auto;
    background: #ffffff;
    border: 1px solid #999999;
    border-bottom: 0;
    box-shadow: 0px 5px 0px 0px #487eb3;
}

.two-panel > * {
    width: 49%;
    display: block;
}

.two-panel,
.tri-flex {
    display: flex;
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

@media (max-width: 400px) {
    .collapse-400 {
        display: block;
    }
    .collapse-400 > * {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .collapse-700 {
        display: block;
    }
    .collapse-700 > * {
        width: 100%;
    }
    #inner-wrapper {
        margin: 30px 25px;
    }
}

@media (min-width: 700px) {
    body {
        width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        align-items: center;
    }
}

.basic-form > * {
    margin: 5px 0;
}

.basic-form input {
    font-size: 0.9em;
    padding: 10px;
    border: 1px solid #999;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fbfbfb;
    font-family: "Open sans", sans-serif;
    -webkit-transition: background 200ms, border 200ms;
    transition: background 200ms, border 200ms;
}

.basic-form input:focus {
    outline: none;
    border: 1px solid #111111;
}

.basic-form input[type="submit"] {
    border: none;
    background: #487eb3;
    color: #fdfaf7;
    cursor: pointer;
}

.basic-form input[type="submit"]:focus,
.basic-form input[type="submit"]:hover {
    background: #4176a9;
}

.error {
    color: #7f0000;
}

.validated-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.validated-field input {
    margin-right: -35px;
}

.validated-field img {
    margin-right: 5px;
}
