@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    background: #f7faff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#inner-wrapper {
    padding: 35px 5vw;
    max-width: 900px;
    display: relative;
    margin: 3% auto;
    background: #ffffff;
    border: 1px solid #999999;
    border-bottom: 0;
    box-shadow: 0px 5px 0px 0px #487eb3;
}

.template {
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 20px;
    border: 1px solid #999999;
    box-shadow: 0px 5px 0px 0px #487eb3;
    text-decoration: none;
    color: black;
    vertical-align: top;
    position: relative;
}

.template .title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.template .description {
    font-size: 15px;
    padding: 20px;
    display: inline-block;
    vertical-align: bottom;
    bottom: 0;
    position: absolute;
}
