html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin: 0;
    height: 100%;
}

.editors {
    margin: 0px 0px 0 217px;
    padding: 10px;
    position: relative;
    background: #F6F6F6;
}

.top, .bottom {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.editorContainer {
    width: 49%;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.editor {
    height: 400px;
    width: 100%;
    border: 1px #cecece solid;
}

#sidebar {
    padding: 0;
    margin: 0;
    font-size: 15px;
    width: 217px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #444;
    height: 100%;
}

.sidebar-element {
    margin-top: 20px;
}

.vote-button:hover {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.vote-button.voted {
    color: rgb(65, 118, 169);
}

.navbar-default {
    background: rgb(72, 126, 179);
    border-color: #cecece;
    border-radius: 0px;
    border: none;
    height: 44px;
    margin-bottom: 0px;
    min-height: 50px;
    position: relative;
    z-index: 10; /* Ace uses z-indexes up to 6 */
}

.navbar-default .navbar-brand {
    width: 217px;
    margin-right: 0px;
    color: #fff;

    box-sizing: border-box;
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;

    text-decoration: none;
}

.navbar-nav {
    margin: 0;
}

.navbar-default .navbar-brand:hover {
    color: #cecece;
}

.navbar-default ul li {
    background: rgb(65, 118, 169);
    margin-right: 1px;
    float: left;
    list-style: none;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
    line-height: 20px;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #cecece;
    cursor: pointer;
}

.panel-body {
    padding: 15px;
}

#program-title {
    box-sizing: border-box;
    font-family: inherit;
    line-height: inherit;
    font-size: 19px;
    font-weight: bold;
}

#program-title.editable:hover {
    cursor: pointer;
}

/*Things hidden initially by CSS, then revealed by Javascript*/
#btnSave, #btnDelete, #backCover, .confirm {
    display: none;
}

#backCover {
    /*display: none;*/
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: #000000;
    opacity: 0.3;
    z-index: 100;
}

.confirm {
    z-index: 101;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 25%;
    left: 50%;
    background: #FFFFFF;
    padding: 25px;
    border: 1px solid #d7d7d7;
    font-size: 15px;
}

.confirm-buttons {
    text-align: right;
    width: 100%;
    display: inline-block;
    margin-top: 25px;
}

.confirm-buttons a {
    padding: 6px 10px;
    margin: 5px;
    text-decoration: none;
    background: rgb(65, 118, 169);
    color: #FFFFFF;
}
.confirm-buttons a:active,  .confirm-buttons a:hover{
    color: #f0f0f0;
}

#deleteConfirm .confirm-cancel {
    font-weight: bold;
}

input, textarea {
    width: 100%;
    margin-bottom: 5px;
}

#comment-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}

.comment {
    margin: 15px;
    background: #FFFFFF;
}

.comment, .comment-content {
    font-size: 15px;
}

.comment tr {
    border: 1px #cecece solid;
}

.comment table {
    border-collapse: collapse;
    width: 100%;
}

.comment-content {
    padding: 0 15px;
}

.comment .lower-row td {
    background: #f0f0f0;
    padding: 10px;
}

.comment .comment-author {
    text-align: right;
}

.comment .lower-row a {
    color: black;
    text-decoration: underline;
    margin: 0 5px;
}

.comment-comment {
    margin-left: 40px;
}

.comment-adding td:last-child {
    width: 50px;
    padding-right: 20px;
}

a.comment-submit {
    display: inline-block;
    padding: 10px 15px;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 35px;
    color: white;
    background: rgb(72, 126, 179);
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

a.comment-cancel {
    text-decoration: underline;
    margin-left: 35px;
    color: black;
}

.comment-editing .textbox-wrapper {
    width: 100%;
    float: left;
    min-height: 100px;
}

.comment-editing .buttons-wrapper {
    float: left;
    margin-right: -111px;
    width: 111px;
    position: relative;
}

.comment-editing tr:first-child td[colspan="2"] {
    padding-right: 111px;
}

.comment a:hover {
    cursor: pointer;
}

.comment-adding textarea, .comment-editing textarea {
    padding: 5px;
    margin: 5px;
    margin-bottom: 0;
    resize: vertical;
    box-sizing: border-box !important;
    font-family: inherit;
    min-height: 90px;
}

.comment-delete-button {
    min-width: 50px;
    text-align: center;
    position: relative;
    display: inline-block;
}

.comment-delete-confirm {
    background: white;
    border: 1px solid black;
    position: absolute;
    box-sizing: border-box;
    min-width: 150px;
    padding: 5px;
    text-align: center;
    z-index: 2;
    /*150/2 - 25*/
    left: -50px;
}

.comment-delete-confirm:hover {
    cursor: default;
}

.comment-content code,
.comment-content pre {
    background-color: #F6F6F6;
    border-radius: 3px;
    padding: 4px
}

.comment-content blockquote {
    padding: 10px 15px;
    margin: 0 5px;
    border-left: 5px solid #F6F6F6;
}

.comment-content blockquote *:last-child {
    margin-bottom: 0;
}
.comment-content blockquote *:first-child {
    margin-top: 0;
}

.editor-settings-container {
    background: #f0f0f0;
    margin: 0 -15px;
    padding: 0 10px;
}

.editor-settings-container input {
    width: unset;
}

.editor-settings-container input[type="text"] {
    width: 100px;
}

.editor-settings-container input[type="radio"] {
    margin-right: 8px;
}

.editor-settings-container table {
    border-collapse: separate;
    border-spacing: 5px;
}

#editor-settings-button {
    display: block;
    border: none;
    padding: inherit;
    font: inherit;
    outline: none;
}

#editor-settings-button:hover {
    cursor: pointer;
}

#editor-settings-arrow {
    width: 15px;
    margin-right: 6px;
    display: inline-block;
}
